@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * propuh implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * propuh.css
 *
 * propuh stylesheet
 *
 */
#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}

.card-stock.all-visible-deck.vertical:hover, .card-stock.all-visible-deck.vertical:active, .card-stock.all-visible-deck.vertical.opened {
  height: calc((var(--height) + var(--vertical-shift)) * var(--tile-count) - var(--vertical-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.vertical:hover > .card, .card-stock.all-visible-deck.vertical:active > .card, .card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}

.card-stock.all-visible-deck.horizontal:hover, .card-stock.all-visible-deck.horizontal:active, .card-stock.all-visible-deck.horizontal.opened {
  width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.horizontal:hover > .card, .card-stock.all-visible-deck.horizontal:active > .card, .card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}

.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.card-stock.all-visible-deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

html {
  --cardWidth: 150px;
  --cardHeight: 209.6px;
  --locationWidth: 386.9px;
  --locationHeight: 240px;
  --houseHeight: 581.2px;
  --tokenHeight: 50px;
  --tokenWidth: 50px;
  --standeeHeight: 140px;
  --standeeWidth: 87.6px;
}

.pph_gameArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.pph_gameArea h4 {
  margin: 0;
}
.pph_gameArea .whiteblock {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pph_boards {
  display: grid;
  grid-template-areas: "c f i" "g e h";
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 8px;
}
.pph_boards .pph_deck {
  grid-area: c;
}
.pph_boards .pph_deckCounter {
  font-size: 40px;
}
.pph_boards .pph_board {
  position: relative;
  background-size: 100% 100%;
  height: var(--locationWidth);
  width: var(--locationHeight);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}
.pph_boards .pph_board-selectable {
  cursor: pointer;
}
.pph_boards .pph_board-selected {
  border: 4px solid blue;
}
.pph_boards .pph_boardCards {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
.pph_boards .pph_boardTokens {
  position: absolute;
  right: 0;
  bottom: 1%;
  display: flex;
  justify-content: center;
}
.pph_boards .pph_boardTokens .pph_token:not(:first-child) {
  margin-left: calc(var(--cardWidth) / -5);
}
.pph_boards .pph_granny {
  background-image: url("img/standee.png");
  background-size: 100% 100%;
  height: var(--standeeHeight);
  width: var(--standeeWidth);
}
.pph_boards .pph_house {
  grid-area: e;
  background-image: url("img/house.jpg");
  height: var(--houseHeight);
  width: var(--locationWidth);
}
.pph_boards .pph_location {
  position: absolute;
  height: var(--standeeHeight);
  width: var(--standeeWidth);
}
.pph_boards .pph_locationBed {
  top: 5%;
  right: 3%;
}
.pph_boards .pph_locationStove {
  top: 1%;
  left: 20%;
}
.pph_boards .pph_locationTable {
  bottom: 18%;
  left: 18%;
}
.pph_boards .pph_stove {
  grid-area: f;
  background-image: url("img/stove.jpg");
  height: var(--locationHeight);
  width: var(--locationWidth);
}
.pph_boards .pph_stove .pph_boardCards {
  top: 5%;
}
.pph_boards .pph_stove .pph_boardTokens {
  bottom: 5%;
}
.pph_boards .pph_table {
  grid-area: g;
  background-image: url("img/table.jpg");
}
.pph_boards .pph_bed {
  grid-area: h;
  background-image: url("img/bed.jpg");
}

.pph_playerPanel {
  display: flex;
  gap: 4px;
  align-items: center;
}
.pph_playerPanel .pph_voidHand {
  position: absolute;
  height: var(--cardHeight);
  width: var(--cardWidth);
  pointer-events: none;
}

.pph_token {
  position: relative;
  background-size: 100% 100%;
  border-radius: 100%;
  height: var(--tokenHeight);
  width: var(--tokenWidth);
  z-index: 1;
}
.pph_token[data-role=granny] {
  background-image: url("img/grannyToken.png");
}
.pph_token[data-role=propuh] {
  background-image: url("img/propuhToken.png");
}
.pph_token .card-sides,
.pph_token .card-side {
  border-radius: 100%;
}

.pph_discard {
  position: absolute !important;
  top: -99px;
  left: -99px;
  height: var(--cardHeight);
  width: var(--cardWidth);
}

.pph_hand {
  position: fixed;
  bottom: calc(var(--cardHeight) / -4);
  left: 45%;
  transform: translateX(-50%);
  z-index: 1;
}

.pph_trickCard {
  position: relative;
  background-image: url("img/trickCards.jpg");
  height: var(--cardHeight);
  width: var(--cardWidth);
}
.pph_trickCard-selected {
  top: calc(var(--cardHeight) / -4);
  transform: unset !important;
  border: 3px solid blue;
  z-index: 1;
}

.pph_goalsContainer {
  grid-area: i;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 4px !important;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.pph_goalsContainer .pph_goals {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pph_goalsContainer .pph_goal::after {
  content: "❌";
  color: red;
  margin-left: 4px;
}
.pph_goalsContainer .pph_goal.pph_completed::after {
  font-weight: bold;
  content: "✓";
  color: green;
}
