/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * propuh implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * propuh.css
 *
 * propuh stylesheet
 *
 */
@use "bga-zoom";

html {
  --cardWidth: 150px;
  --cardHeight: 209.6;
  --locationWidth: 386.9px;
  --locationHeight: 240px;
  --houseHeight: 581.2px;
}

.pph_gameArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.pph_boards {
  display: grid;
  grid-template-areas: "c f ." "g e h";
  align-items: center;
  justify-content: center;
  gap: 8px;

  .pph_deck {
    grid-area: c;
    height: var(--cardHeight);
    width: var(--cardWidth);
  }

  .pph_house {
    grid-area: e;
    background-image: url("img/house.jpg");
    background-size: 100% 100%;
    height: var(--houseHeight);
    width: var(--locationWidth);
  }

  .pph_board {
    background-size: 100% 100%;
    height: var(--locationWidth);
    width: var(--locationHeight);
  }

  .pph_stove {
    grid-area: f;
    background-image: url("img/stove.jpg");
    height: var(--locationHeight);
    width: var(--locationWidth);
  }

  .pph_door {
    grid-area: g;
    background-image: url("img/door.jpg");
  }

  .pph_bed {
    grid-area: h;
    background-image: url("img/bed.jpg");
  }
}

.pph_hands {
  width: 100%;
}
