/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * propuh implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * propuh.css
 *
 * propuh stylesheet
 *
 */
@use "bga-help";
@use "bga-zoom";
@use "bga-cards";

html {
  --cardWidth: 150px;
  --cardHeight: 209.6px;
  --boardWidth: 386.9px;
  --boardHeight: 240px;
  --houseHeight: 581.2px;
  --tokenHeight: 50px;
  --tokenWidth: 50px;
  --standeeHeight: 140px;
  --standeeWidth: 87.6px;
}

.pph_gameArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;

  h4 {
    margin: 0;
  }

  .whiteblock {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

.pph_helpFolded {
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.pph_aidContainer {
  display: flex;
}

.pph_aidCard {
  background-size: 100% 100%;
  height: calc(var(--cardHeight) * 1.5);
  width: calc(var(--cardWidth) * 1.5);
}

.pph_boards {
  display: grid;
  grid-template-areas: "c f i" "g e h";
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 8px;

  .pph_deck {
    grid-area: c;

    &Counter {
      font-size: 40px;
    }
  }

  .pph_board {
    position: relative;
    background-size: 100% 100%;
    height: var(--boardHeight);
    width: var(--boardWidth);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);

    &-selectable {
      cursor: pointer;
    }

    &-selected {
      border: 4px solid blue;
    }

    &-unselectable {
      cursor: not-allowed;
      opacity: 0.75;
    }

    &Cards {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &Tokens {
      position: absolute;
      display: flex;
      justify-content: center;

      .pph_token:not(:first-child) {
        margin-left: calc(var(--cardWidth) / -5);
      }

      &[data-slot-id=granny] {
        right: 1%;
        bottom: 5%;
      }

      &[data-slot-id=propuh] {
        left: 1%;
        top: 5%;
      }
    }
  }

  .pph_granny {
    background-image: url("img/standee.png");
    background-size: 100% 100%;
    height: var(--standeeHeight);
    width: var(--standeeWidth);
  }

  .pph_house {
    grid-area: e;
    background-image: url("img/house.jpg");
    height: var(--houseHeight);
    width: var(--boardWidth);
  }

  .pph_location {
    position: absolute;
    height: var(--standeeHeight);
    width: var(--standeeWidth);

    &Bed {
      top: 5%;
      right: 3%;
    }

    &Stove {
      top: 1%;
      left: 20%;
    }

    &Table {
      bottom: 18%;
      left: 18%;
    }
  }

  .pph_stove {
    grid-area: f;
    background-image: url("img/stove.jpg");
  }

  .pph_table {
    grid-area: g;
    background-image: url("img/table.jpg");
  }

  .pph_bed {
    grid-area: h;
    background-image: url("img/bed.jpg");
  }
}

.pph_playerPanel {
  display: flex;
  gap: 4px;
  align-items: center;

  .pph_voidHand {
    position: absolute;
    height: var(--cardHeight);
    width: var(--cardWidth);
    pointer-events: none;
  }
}

.pph_token {
  position: relative;
  background-size: 100% 100%;
  border-radius: 100%;
  height: var(--tokenHeight);
  width: var(--tokenWidth);

  &[data-role="granny"] {
    background-image: url("img/grannyToken.png");
  }
  &[data-role="propuh"] {
    background-image: url("img/propuhToken.png");
  }

  .card-sides,
  .card-side {
    border-radius: 100%;
  }
}

.pph_discard {
  position: absolute !important;
  top: -99px;
  left: -99px;
  height: var(--cardHeight);
  width: var(--cardWidth);
}

.pph_hand {
  margin-bottom: 32px;
}

.pph_floatingHand {
  position: fixed;
  bottom: calc(var(--cardHeight) / -4);
  left: 45%;
  transform: translateX(-50%);
  z-index: 1;
}

.pph_trickCard {
  position: relative;
  background-image: url("img/trickCards.jpg");
  height: var(--cardHeight);
  width: var(--cardWidth);

  &-selected {
    top: calc(var(--cardHeight) / -4);
    transform: unset !important;
    border: 3px solid blue;
    z-index: 1;
  }
}

.pph_goalsContainer {
  font-size: 20px;
  grid-area: i;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 4px !important;
  max-height: var(--boardHeight);

  .pph_goals {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .pph_goal {
    &::after {
      content: "\274C";
      color: red;
      margin-left: 4px;
    }

    &.pph_completed::after {
      font-weight: bold;
      content: "\2713";
      color: green;
    }
  }
}
