/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * propuh implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * propuh.css
 *
 * propuh stylesheet
 *
 */
@use "bga-zoom";
@use "bga-cards";

html {
  --cardWidth: 150px;
  --cardHeight: 209.6px;
  --locationWidth: 386.9px;
  --locationHeight: 240px;
  --houseHeight: 581.2px;
  --tokenHeight: 50px;
  --tokenWidth: 50px;
  --standeeHeight: 140px;
  --standeeWidth: 87.6px;
}

.pph_gameArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.pph_boards {
  display: grid;
  grid-template-areas: "c f ." "g e h";
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 8px;

  .pph_deck {
    grid-area: c;

    &Counter {
      font-size: 40px;
    }
  }

  .pph_board {
    position: relative;
    background-size: 100% 100%;
    height: var(--locationWidth);
    width: var(--locationHeight);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);

    &-selectable {
      cursor: pointer;
    }

    &-selected {
      border: 4px solid blue;
    }

    &Cards {
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translateX(-50%);
    }

    &Tokens {
      position: absolute;
      right: 0;
      bottom: 1%;
      display: flex;
      justify-content: center;

      .pph_token:not(:first-child) {
        margin-left: calc(var(--cardWidth) / -5);
      }
    }
  }

  .pph_granny {
    background-image: url("img/standee.png");
    background-size: 100% 100%;
    height: var(--standeeHeight);
    width: var(--standeeWidth);
  }

  .pph_house {
    grid-area: e;
    background-image: url("img/house.jpg");
    height: var(--houseHeight);
    width: var(--locationWidth);
  }

  .pph_location {
    position: absolute;
    height: var(--standeeHeight);
    width: var(--standeeWidth);

    &Bed {
      top: 5%;
      right: 3%;
    }

    &Stove {
      top: 1%;
      left: 20%;
    }

    &Table {
      bottom: 18%;
      left: 18%;
    }
  }

  .pph_stove {
    grid-area: f;
    background-image: url("img/stove.jpg");
    height: var(--locationHeight);
    width: var(--locationWidth);

    .pph_boardCards {
      top: 5%;
    }

    .pph_boardTokens {
      bottom: 5%;
    }
  }

  .pph_table {
    grid-area: g;
    background-image: url("img/table.jpg");
  }

  .pph_bed {
    grid-area: h;
    background-image: url("img/bed.jpg");
  }
}

.pph_playerPanel {
  display: flex;
  gap: 4px;
  align-items: center;

  .pph_voidHand {
    position: absolute;
    height: var(--cardHeight);
    width: var(--cardWidth);
  }
}

.pph_token {
  position: relative;
  background-size: 100% 100%;
  border-radius: 100%;
  height: var(--tokenHeight);
  width: var(--tokenWidth);
  z-index: 1;

  &[data-role="granny"] {
    background-image: url("img/grannyToken.png");
  }
  &[data-role="propuh"] {
    background-image: url("img/propuhToken.png");
  }

  .card-sides,
  .card-side {
    border-radius: 100%;
  }
}

.pph_discard {
  position: absolute !important;
  top: -99px;
  left: -99px;
  height: var(--cardHeight);
  width: var(--cardWidth);
}

.pph_hand {
  position: fixed;
  bottom: calc(var(--cardHeight) / -4);
  left: 45%;
  transform: translateX(-50%);
  z-index: 1;
}

.pph_trickCard {
  position: relative;
  background-image: url("img/trickCards.jpg");
  height: var(--cardHeight);
  width: var(--cardWidth);

  &-selected {
    top: calc(var(--cardHeight) / -4);
    transform: unset !important;
    border: 3px solid blue;
    z-index: 1;
  }
}
